* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-areas:
        '1 2 3'
        '4 5 6'
        '7 8 9';
    justify-content: start;
    gap: 1rem;
}

.cell {
    width: 6rem;
    height: 6rem;
    border: 2px solid;
    border-color: rgb(230, 64, 174);
    text-align: center;
    
}

body {
    background: url(/images/Squid-Game-Tic-Tac-Toe-Colorful-Sofa-Cushion-Cover-Home-Decor-Netflix-Korean-Drama-Play-Gamer.jpg) no-repeat center ;
    padding-top: 7rem;
}

h1 {
    margin-left: 44%;
    /* margin-top: 10%; */
}

button{
 margin-left: 47%;
 background-color: rgba(240, 255, 255, 0);
 width: 5rem;
 border-color: rgb(230, 64, 174);
color:rgb(230, 64, 174);
 height: 2rem;
border-radius: 15%;
margin-top: 5%;
}